body{
    background-color: aquamarine;
    font-size: large;

}
a{
    color: brown;
    align-items: center;
}
table{
    height: 200px;
    width: 400px;
    text-align: center;
    border: 100px;
    border-color: red;
}
.ar{
   
  
    background-color: azure;
    border-radius: 300px;
    border-style: double;
    
}
